* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: space-evenly;
}

.logo-mario {
    width: 300px;
}

.imagem-mario-luigi {
    height: 600px;
}

.caixa-principal {
    width: 40%;
}

.caixa-video-mario {
    position: fixed;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
}
video {
    position: fixed;
    top: 0;
    min-height: 100%;
    min-width: 100%;
}

.mascara-video {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    background: linear-gradient(109deg, rgba(10, 12, 16, 0.99) 15%, rgba(10, 12, 16, 0.7) 50%, rgba(10, 12, 16, 0.99) 85%);
}

p {
    color: white;
    margin-top: 10px;
    font-size: 24px;
}

button {
    height: 40px;
    width: 200px;
    background: #C51111;
    border: none;
    border-radius: 4px;
    color: #fff;
    margin-top: 20px;
    cursor: pointer;
}